/*whole body*/
body{
    /*background-image: linear-gradient(to bottom, #001c6d, #002b6f, #00366b, #003e64, #00455b, #004957, #004c50, #004e48, #004f3f, #005031, #00501f, #004f03);
    /*background: url("https://cdn.hipwallpaper.com/i/88/31/wSXZa6.jpg") center / cover no-repeat;*/
    background-color: #00455b;
    font-family: 'Source Sans Pro', sans-serif;
}
#lap{
    background-color: rgba(228, 228, 228, 0.74);
    border: 5px solid white;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-bottom:5%;

}
h1{
  text-align: center;
  font-family: 'Times New Roman';
  padding-top: 3%;

}
h2,h3{
  font-family: 'Times New Roman';
  padding-left: 20px;
}
p{
  text-align: left;
  font-family: 'Times New Roman';
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}
img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

iframe {
  align-items : center;
  width: 100%;
  height: 250;
  padding: 10px;
  border:0;
  

}

/*menu menu*/
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  nav {
    position: relative;
    top: 3%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }
  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
  }
  nav ul li a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    transform: translateX(-15%);
    border-radius: 50px;
    width: 130%;
    text-align: center;
    transition-duration: 0.25s;
  }
  nav ul li a:hover {
    color: white;
  }
  nav ul li.active a {
    color: white;
  }
  nav ul li:nth-child(1) a {
    background-color: #69AF23;
  }
  nav ul li:nth-child(2n) a {
    background-color: #008737;
  }
  nav ul li:nth-child(3n) a {
    background-color: #FFC300;
  }
  nav ul li:nth-child(4n) a {
    background-color: #E62D87;
  }
  nav ul li:nth-child(5n) a {
    background-color: #552382;
  }
  nav ul li:nth-child(6n) a {
    background-color:crimson;
  }
.dot {
    background-color: red;
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -20px;
    left: 0;
    border-radius: 50%;
    transition-duration: 0.5s;
  }

  /*registration*/

.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon {
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.registration{
  position: center;
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;

}
.bttn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1;
}

.regbttn:hover {
  opacity: 1;
}
/*nevezetességek*/
.nevezetessegek{
    text-align: center;
}

.not{
  margin-left: 12.5%;
  margin-top: 3%;
  padding:1.5%;
  font-family: 'Times New Roman';
  color: white;
  border: 5px solid rgb(223, 255, 255);
  width: 75%;
  text-align: center;
  font-size: 35px;
}
/*footer*/




