.display {
  width: auto;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  flex: wrap;
}

.display .container,
.first-row,
.second-row {
  flex-basis: 50%;

}

.second-row {
  flex-grow: 1;
}

#map {
  height:500px;
  width: 100%;
}

iframe {
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 10px;
  border: 0;

}

.description {
  text-align: justify;
  size: 16px;
  font-weight: 350;
}

p {
  font-weight: 400;
  text-align: justify;
  padding-left: 40px;
  padding-right: 30px;
}

.display .first-row img {
  height: 500px;
  width: auto;

}

/*-------gallery----------*/
.display .container {}