/*menu menu*/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  position: relative;
  margin-top: 3%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  flex: wrap;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul li {
  list-style: none;
  display: inline-block;
  flex-grow: 1;
}

nav ul li a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  transform: translateX(-15%);
  border-radius: 50px;
  width: 130%;
  text-align: center;
  transition-duration: 0.25s;
}

nav ul li a:hover {
  color: white;
}

nav ul li.active a {
  color: white;
}

nav ul li:nth-child(1) a {
  background-color: #69AF23;
}

nav ul li:nth-child(2n) a {
  background-color: #008737;
}

nav ul li:nth-child(3n) a {
  background-color: #FFC300;
}

nav ul li:nth-child(4n) a {
  background-color: #E62D87;
}

nav ul li:nth-child(5n) a {
  background-color: #552382;
}

nav ul li:nth-child(6n) a {
  background-color: crimson;
}