/*whole body*/
header {
  background-color: #333;
}

body {
  /*background-image: linear-gradient(to bottom, #001c6d, #002b6f, #00366b, #003e64, #00455b, #004957, #004c50, #004e48, #004f3f, #005031, #00501f, #004f03);
    /*background: url("https://cdn.hipwallpaper.com/i/88/31/wSXZa6.jpg") center / cover no-repeat;*/
  background-color: #f1f1f1;
  font-family: 'Source Sans Pro', sans-serif;


}

#lap{
  background-color: white;
  border: none;
  width: 70%;
  margin-left: 15%;
  margin-top: 3%;
  padding-bottom: 5%;

}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3%;

}

h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

}

img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
