.changeform {
    width: 100%;
    height: auto;
    background-image: url("../Images/registration.jpg");
    background-position: center;
    padding: 2%;
    margin-top: 30px;
    border-radius: 20px
  }
.profile{
    width:50%;
    background-color: white;
    opacity: 90%;
    padding-left: 10%;
    margin-left: 25%;
    border-radius: 30px;
    padding-bottom: 3%;
    min-width: 350px;
    
}
.form-horizontal label{
    margin-left: 10%;
}

.btn btn-primary{
    padding: 10px;
    border-radius: 4px;
    outline: none;
    display: block;
    margin: 18px 0 10px;
    color: #fff;
    cursor: pointer;
    height: auto;

}